*{
    margin: 0;
    padding: 0;
}

.bg-img{
    background-image: url(image/bg.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-position-y:0;
}
#index {
    height: 80vh;
}
.rounded-4{
    border-radius: 20px;
}